body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  display: flex;
  background-color: white;
  height: 100px;
  width: 100%;
  justify-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar > img {
  width: 120px;
  margin-left: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 10px 2rem;
}

.hero > img {
  margin: 2rem auto;
  max-width: 100%;
}

.hero .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero .subtitle {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  font-style: normal;
}

.card {
  margin: 20px;
  width: 180px;
  font-weight: 300;
  font-size: 12px;
}

.card--image {
  width: 176px;
  height: 235px;
  position: relative;
  margin-bottom: 5px;
}

.card--badge {
  background-color: white;
  border-radius: 3px;
  padding: 1px 8px;
  position: absolute;
  font-size: 12px;
  top: 5px;
  left: 8px;
  z-index: 2;
}

.card--image > img {
  width: 100%;
  border-radius: 9px;
}

.card--stats span {
  margin-right: 2px;
}

.card--star {
  width: 14px;
  margin: 0 3px;
}

.card--desc {
  margin-top: 5px;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: 600;
}

.cards--list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.contact--image {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.card--phone,
.card--email {
  display: flex;
  align-items: baseline;
}

.card--phone img {
  width: 15px;
  margin-right: 5px;
}

.card--email img {
  width: 15px;
  margin-right: 5px;
}
